$xxl: 1400px;
$xl:  1200px;
$lg:  992px;
$md:  768px;
$sm:  576px;
$xs:  414px;


///////////////////////////////////
// PATH
/////////////////////////////////////
$img-path: "../img";

///////////////////////////////////
// COLORS
/////////////////////////////////////
$black: #282828;
$white: #ffffff;
$grey: #F6F7F8;
$grey-dark: #E3EBEF;
$grey-extra-dark: #80A2B6;
$blue: #11B3FE;
$blue-dark: #0095E0;
$red: #E03F3F;

$text-color-default: $black;
$background-color: $white;